body {
    background: rgb(255, 255, 255);
    margin: 0;
}

h1 {
    color: white;
    font-size: 4rem;
    font-family: "Comic Sans MS", "Chalkboard", sans-serif;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 8rem;
}